# PostgreSQL Configuration
POSTGRES_DB=creditrisk
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_PORT=5433

# Kafka & Zookeeper Configuration
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181
SCHEMA_REGISTRY_PORT=8081

# Microservices Config
SPRING_PORT=8080
ML_INFERENCE_PORT=8000
